<div class="m-2 text-center">
    <h1>Super Heroes founded for: <small>{{termino}}</small> </h1>
</div>

<hr>
<div class="card-columns">
    <app-horoe-card [heroe]="heroe" [index]="heroe.id" *ngFor="let heroe of heroes; let i= index"></app-horoe-card>
</div>

<div *ngIf="heroes.length == 0" class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>